name: Hello GitHub Actions

on:
  push:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Repo: ${{ github.repository }}"
      - run: echo "Branch: ${{ github.ref_name }}"
      - run: date
